{% extends 'store/index.html' %}

{% block category %}
    <div class="category">
        <strong>{{ category.name }}</strong>
        <ul>
            {% for subcategory in subcategories %}
                <li>{{ subcategory.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block products %}
    <div class="product-wrapper">
        <ul>
        {{ products }}
{#            {% for p in products %}#}
{#                <div class="product-item">{{ p.name }}</div>#}
{#            {% endfor %}#}

        </ul>
    </div>
{% endblock %}