<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    {%load static%}
    <link link rel="stylesheet" href="{% static 'store/main.css'%}">
</head>
<body>
<form>
    <input type="text">
</form>
<p>Адресная строка: </p>
<div class="main-wrapper">
    {%block category%}
    <div class="category">
    <ul>
        {%for category in categories%}
        <a href="#"><li>{{category.name}}</li></a>
        {%endfor%}
    </ul>
</div>
    {%endblock%}
    {%block products%}
        <div class="product-wrapper">
        {% for product in products %}
        <div class="product-item">{{product.name}}
            </div>
            {%endfor%}

    </div>
    {%endblock%}
</div>
</body>
</html>