<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    {% load static %}
    <link link rel="stylesheet" href="{% static 'store/main.css' %}">
</head>
<body>
<form>
    <input type="text">
</form>
{% include 'store/includes/breadcrumbs.html' %}
<div class="main-wrapper">

    <div class="category">
         {% for category in categories %}
        <div class="category-item {% if category.parent is None %}top-category{% endif %}"><a href="{% url 'category_detail' category.get_absolute_url %}">{{ category.name }}</a></div>
        {% endfor %}


    </div>

    {% include 'store/includes/products_to_show.html' %}
    {% include 'store/includes/paginator.html' %}

</div>
</body>
</html>