.main-wrapper {
    display: flex;
}

.breadcrumbs {
    margin: 10px;
}

.category {
    width: 150px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product-wrapper {
    display: flex;
}

.product-item {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.product-image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.top-category {
    font-weight: bold;
}

.category-item {
    margin: 5px;
}

a {
    text-decoration: none;
}
