.main-wrapper {
    display: flex;
}

.breadcrumbs {
    margin: 10px;
}

.category {
    width: 150px;
    border: 2px solid black;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.accordion-item {
    position: relative;
    margin-bottom: 20px;
}

#input-main input {
    display: block;
    margin: 25px 0;
    padding: 10px;
    width: 300px;
}

.accordion-item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion-item__trigger {
    display: block;
    padding: 20px;
    outline: 1px solid black;
    width: 110px;
    margin: 0;
}

.accordion-item__content {
    outline: 1px solid black;
    border-top: none;
    display: none;
}

.accordion-item__input:checked + label + .accordion-item__content {
    display: block;
}

a {
    text-decoration: none;
}

li {
    padding: 10px;
    border: 1px solid black;
}


.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 730px;
    height: 580px;
}

.product-item {
    width: 150px;
    height: 150px;
    outline: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.product-image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.top-category {
    font-weight: bold;
}

.category-item {
    margin: 5px;
}

.no-item {
    margin-left: 10px;
}

#ajax-url {
    display: none;
}

.paginator {
    float: right;
}

