<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<ol>
    {% for item in order.orderitem_set.all %}
        <li>{{ item.product.name }} {% if item.quantity > 1 %}({{ item.quantity }} шт.){% endif %}</li>
        <form method="POST" action="{% url 'order_remove' item.id %}">
            {% csrf_token %}
            <input type="submit" value="Remove">
        </form>
    {% endfor %}
</ol>
<div id="back-store"><a href="{% url 'index' %}">Back to store</a></div>
</body>
</html>