<div class="product-wrapper">
    {% for product in products %}
        <div class="product-item">
            <div>{{ product.name }}</div>
            <img class="product-image" src="

                    {% if product.image %}{{ product.image.url }} {% else %} {{ product.category.image.url }} {% endif %}"
                 alt="Какой-то продукт">
        </div>
        {% empty %}
        <div class="no-item">Таких нету</div>
    {% endfor %}
    {% include 'store/includes/paginator.html' %}
</div>